body{
    margin: 0;
}

#background{
    background-image: url("../assets/MainMenuPic.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#HomePageTitle{
    position: sticky;
    top:0;
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: orange;
}

#A_div{
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#AboutUs{
    border-radius: 20px;
    background-color:orange;
    width: 45%;
    margin-bottom: 2em;
    margin-left: 1em;
    padding: 0.5em;
}



